USE [master]
GO
/****** Object:  Database [AcadifySeniorProject]    Script Date: 05/09/47 10:24:05 م ******/
CREATE DATABASE [AcadifySeniorProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcadifySeniorProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AcadifySeniorProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcadifySeniorProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AcadifySeniorProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcadifySeniorProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcadifySeniorProject]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentID] [int] NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[major] [nvarchar](120) NULL,
	[level] [nvarchar](50) NULL,
	[completedHours] [int] NOT NULL,
	[cohortYear] [int] NULL,
	[advisorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GraduationStatus]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraduationStatus](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[status] [nvarchar](80) NOT NULL,
	[remainingHours] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchingStatus]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchingStatus](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[status] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MyStudents]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_MyStudents] AS
SELECT
    s.cohortYear,
    s.studentID,
    s.[Name] AS studentName,
    gs.[status] AS graduationStatus,
    ms.[status] AS matchingStatus,
    s.advisorID
FROM Student s
LEFT JOIN GraduationStatus gs ON gs.studentID = s.studentID
LEFT JOIN MatchingStatus  ms ON ms.studentID = s.studentID;
GO
/****** Object:  Table [dbo].[AcademicAdvisingConfirmationForm]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicAdvisingConfirmationForm](
	[formID] [int] NOT NULL,
	[studentName] [nvarchar](120) NULL,
	[studentLevel] [nvarchar](50) NULL,
	[currentGPA] [decimal](4, 2) NULL,
	[coursesCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcademicCalendar]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicCalendar](
	[calendarID] [int] IDENTITY(1,1) NOT NULL,
	[pdfFile] [nvarchar](255) NULL,
	[uploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calendarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advisor]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advisor](
	[advisorID] [int] NOT NULL,
	[department] [nvarchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[advisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Community]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Community](
	[communityID] [int] IDENTITY(1,1) NOT NULL,
	[communityName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[communityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunityMessages]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityMessages](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[communityID] [int] NOT NULL,
	[senderName] [nvarchar](120) NOT NULL,
	[messageText] [nvarchar](max) NOT NULL,
	[messageDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseID] [nvarchar](30) NOT NULL,
	[courseName] [nvarchar](200) NOT NULL,
	[hours] [int] NOT NULL,
	[prerequisite] [nvarchar](200) NULL,
	[GraduationRequirement] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[formID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[advisorID] [int] NOT NULL,
	[formType] [nvarchar](80) NOT NULL,
	[formDate] [datetime2](7) NOT NULL,
	[formStatus] [nvarchar](60) NOT NULL,
	[advisorNotes] [nvarchar](max) NULL,
	[autoFilled] [bit] NOT NULL,
	[AdvisorConfirmation] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GraduationProjectEligibilityForm]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraduationProjectEligibilityForm](
	[formID] [int] NOT NULL,
	[eligibility] [nvarchar](50) NULL,
	[requiredCoursesStatus] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meeting]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meeting](
	[meetingID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[advisorID] [int] NOT NULL,
	[chatRecord] [nvarchar](max) NULL,
	[startTime] [datetime2](7) NULL,
	[endTime] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[meetingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingForm]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingForm](
	[formID] [int] NOT NULL,
	[meetingStart] [datetime2](7) NULL,
	[meetingEnd] [datetime2](7) NULL,
	[meetingPurpose] [nvarchar](200) NULL,
	[meetingNotes] [nvarchar](max) NULL,
	[referralReason] [nvarchar](200) NULL,
	[referredTo] [nvarchar](200) NULL,
	[studentActions] [nvarchar](max) NULL,
	[advisorActions] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingMessages]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingMessages](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[meetingID] [int] NOT NULL,
	[senderName] [nvarchar](120) NOT NULL,
	[messageText] [nvarchar](max) NOT NULL,
	[messageDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NextSemesterCourseSelectionForm]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NextSemesterCourseSelectionForm](
	[formID] [int] NOT NULL,
	[recommendedCourses] [nvarchar](max) NULL,
	[recommendedHours] [int] NULL,
	[trackChoice] [nvarchar](120) NULL,
	[gpaChange] [nvarchar](50) NULL,
	[prerequisiteViolation] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationID] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[type] [nvarchar](60) NULL,
	[advisorID] [int] NULL,
	[studentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyPlan]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyPlan](
	[planID] [int] IDENTITY(1,1) NOT NULL,
	[major] [nvarchar](120) NOT NULL,
	[totalHours] [int] NOT NULL,
	[pdfFile] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[planID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyPlanCourse]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyPlanCourse](
	[planID] [int] NOT NULL,
	[courseID] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[planID] ASC,
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyPlanMatchingForm]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyPlanMatchingForm](
	[formID] [int] NOT NULL,
	[graduationStatus] [nvarchar](80) NULL,
	[remainingHours] [int] NULL,
	[requiredHours] [int] NULL,
	[earnedHours] [int] NULL,
	[registeredHours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transcript]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transcript](
	[transcriptID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[pdfFile] [nvarchar](300) NULL,
	[GPA] [decimal](4, 2) NULL,
	[semesterGPA] [decimal](4, 2) NULL,
	[extractedInfo] [nvarchar](max) NULL,
	[extractedCourses] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[transcriptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TranscriptCourse]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TranscriptCourse](
	[transcriptID] [int] NOT NULL,
	[courseID] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transcriptID] ASC,
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AcademicAdvisingConfirmationForm] ([formID], [studentName], [studentLevel], [currentGPA], [coursesCount]) VALUES (1, N'Lama Zaki Alshikh', N'5th Year', CAST(4.42 AS Decimal(4, 2)), 5)
GO
SET IDENTITY_INSERT [dbo].[AcademicCalendar] ON 

INSERT [dbo].[AcademicCalendar] ([calendarID], [pdfFile], [uploadedAt]) VALUES (1, N'Academic_Calendar_2025_2026.pdf', CAST(N'2026-02-19T01:49:35.9293176' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AcademicCalendar] OFF
GO
INSERT [dbo].[Advisor] ([advisorID], [department]) VALUES (1, N'Information Systems')
INSERT [dbo].[Advisor] ([advisorID], [department]) VALUES (18, N'information systems')
INSERT [dbo].[Advisor] ([advisorID], [department]) VALUES (19, N'information systems')
GO
SET IDENTITY_INSERT [dbo].[Community] ON 

INSERT [dbo].[Community] ([communityID], [communityName]) VALUES (1, N'IS Community')
SET IDENTITY_INSERT [dbo].[Community] OFF
GO
SET IDENTITY_INSERT [dbo].[CommunityMessages] ON 

INSERT [dbo].[CommunityMessages] ([messageID], [communityID], [senderName], [messageText], [messageDate]) VALUES (11, 1, N'Lina Alrwaily', N'السلام عليكم دكتورة أمينة', CAST(N'2026-02-19T02:49:40.8057939' AS DateTime2))
INSERT [dbo].[CommunityMessages] ([messageID], [communityID], [senderName], [messageText], [messageDate]) VALUES (12, 1, N'Lina Alrwaily', N'هل اقدر انزل مادة تطوير برمجيات الترم الجاي؟', CAST(N'2026-02-19T02:49:40.8057939' AS DateTime2))
INSERT [dbo].[CommunityMessages] ([messageID], [communityID], [senderName], [messageText], [messageDate]) VALUES (13, 1, N'Rahaf Alghamdi', N'ايوا دكتورة حتى انا', CAST(N'2026-02-19T02:49:40.8057939' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CommunityMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Forms] ON 

INSERT [dbo].[Forms] ([formID], [studentID], [advisorID], [formType], [formDate], [formStatus], [advisorNotes], [autoFilled], [AdvisorConfirmation]) VALUES (1, 2210456, 1, N'Form 1', CAST(N'2026-02-19T02:00:32.7999660' AS DateTime2), N'Pending', NULL, 1, 0)
INSERT [dbo].[Forms] ([formID], [studentID], [advisorID], [formType], [formDate], [formStatus], [advisorNotes], [autoFilled], [AdvisorConfirmation]) VALUES (2, 2210456, 1, N'Form 2', CAST(N'2026-02-19T02:00:32.7999660' AS DateTime2), N'Pending', NULL, 1, 0)
INSERT [dbo].[Forms] ([formID], [studentID], [advisorID], [formType], [formDate], [formStatus], [advisorNotes], [autoFilled], [AdvisorConfirmation]) VALUES (3, 2210456, 1, N'Form 3', CAST(N'2026-02-19T02:00:32.7999660' AS DateTime2), N'Pending', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Forms] OFF
GO
INSERT [dbo].[GraduationProjectEligibilityForm] ([formID], [eligibility], [requiredCoursesStatus]) VALUES (5, N'Not Eligible', N'Missing: CPIS 360 (E-Business Systems), CPIS 375 (Software Quality & Testing)')
GO
SET IDENTITY_INSERT [dbo].[GraduationStatus] ON 

INSERT [dbo].[GraduationStatus] ([statusID], [studentID], [status], [remainingHours]) VALUES (13, 2210456, N'Has Remaining Courses', 18)
INSERT [dbo].[GraduationStatus] ([statusID], [studentID], [status], [remainingHours]) VALUES (14, 2210783, N'Near Graduation', 3)
INSERT [dbo].[GraduationStatus] ([statusID], [studentID], [status], [remainingHours]) VALUES (15, 2110321, N'Has Remaining Courses', 18)
SET IDENTITY_INSERT [dbo].[GraduationStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[MatchingStatus] ON 

INSERT [dbo].[MatchingStatus] ([statusID], [studentID], [status]) VALUES (13, 2210456, N'Matched')
INSERT [dbo].[MatchingStatus] ([statusID], [studentID], [status]) VALUES (14, 2210783, N'Matched')
INSERT [dbo].[MatchingStatus] ([statusID], [studentID], [status]) VALUES (15, 2110321, N'Not Matched')
SET IDENTITY_INSERT [dbo].[MatchingStatus] OFF
GO
INSERT [dbo].[MeetingForm] ([formID], [meetingStart], [meetingEnd], [meetingPurpose], [meetingNotes], [referralReason], [referredTo], [studentActions], [advisorActions]) VALUES (3, CAST(N'2025-10-15T10:00:00.0000000' AS DateTime2), CAST(N'2025-10-15T10:30:00.0000000' AS DateTime2), N'Meeting request', N'السلام عليكم دكتورة، أبغى اطلب اجتماع بخصوص حذف مادة CPIS-352', N'حذف مادة', N'Advisor', N'Submit request', N'Review request')
GO
SET IDENTITY_INSERT [dbo].[MeetingMessages] ON 

INSERT [dbo].[MeetingMessages] ([messageID], [meetingID], [senderName], [messageText], [messageDate]) VALUES (1, 1, N'Lama Alshikh', N'السلام عليكم دكتورة، أبغى أطلب اجتماع بخصوص حذف مادة CPIS-352', CAST(N'2026-02-04T22:27:15.5783211' AS DateTime2))
INSERT [dbo].[MeetingMessages] ([messageID], [meetingID], [senderName], [messageText], [messageDate]) VALUES (2, 1, N'Amina Gamlo', N'و عليكم السلام و رحمة الله و بركاته، تمام يناسبك الآن نسوي الاجتماع؟', CAST(N'2026-02-04T22:27:15.5783211' AS DateTime2))
INSERT [dbo].[MeetingMessages] ([messageID], [meetingID], [senderName], [messageText], [messageDate]) VALUES (3, 1, N'Lama Alshikh', N'تمام', CAST(N'2026-02-04T22:27:15.5783211' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MeetingMessages] OFF
GO
INSERT [dbo].[NextSemesterCourseSelectionForm] ([formID], [recommendedCourses], [recommendedHours], [trackChoice], [gpaChange], [prerequisiteViolation]) VALUES (2, N'CPIS-352, CPIS-358, CPIS-351', 9, N'Information Systems Track', N'No', N'No')
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([notificationID], [message], [date], [type], [advisorID], [studentID]) VALUES (1, N'Your transcript has been uploaded successfully.', CAST(N'2026-02-04T21:36:14.4614475' AS DateTime2), N'Transcript', NULL, 2219974)
INSERT [dbo].[Notification] ([notificationID], [message], [date], [type], [advisorID], [studentID]) VALUES (10, N'lina alrwaily update new recommendation', CAST(N'2026-02-19T01:23:21.7314796' AS DateTime2), N'Student recommendation', 1, NULL)
INSERT [dbo].[Notification] ([notificationID], [message], [date], [type], [advisorID], [studentID]) VALUES (11, N'new system recommendation for lina alrwaily', CAST(N'2026-02-19T01:17:21.7314796' AS DateTime2), N'System recommendation', 1, NULL)
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
INSERT [dbo].[Student] ([studentID], [Name], [major], [level], [completedHours], [cohortYear], [advisorID]) VALUES (2110321, N'rahaf alghamdi', N'Information Systems', N'Level 7', 115, 2024, 1)
INSERT [dbo].[Student] ([studentID], [Name], [major], [level], [completedHours], [cohortYear], [advisorID]) VALUES (2210456, N'lama alshikh', N'Information Systems', N'Level 8', 128, 2025, 1)
INSERT [dbo].[Student] ([studentID], [Name], [major], [level], [completedHours], [cohortYear], [advisorID]) VALUES (2210783, N'lina alrwaily', N'Information Systems', N'Level 8', 130, 2025, 1)
GO
SET IDENTITY_INSERT [dbo].[StudyPlan] ON 

INSERT [dbo].[StudyPlan] ([planID], [major], [totalHours], [pdfFile]) VALUES (1, N'Information Systems', 132, N'IS_StudyPlan_2025.pdf')
SET IDENTITY_INSERT [dbo].[StudyPlan] OFF
GO
INSERT [dbo].[StudyPlanMatchingForm] ([formID], [graduationStatus], [remainingHours], [requiredHours], [earnedHours], [registeredHours]) VALUES (4, N'Near Graduation', 11, 140, 129, 11)
GO
SET IDENTITY_INSERT [dbo].[Transcript] ON 

INSERT [dbo].[Transcript] ([transcriptID], [studentID], [pdfFile], [GPA], [semesterGPA], [extractedInfo], [extractedCourses]) VALUES (1, 2219974, N'Rahaf_Alzahrani_Transcript.pdf', CAST(4.35 AS Decimal(4, 2)), CAST(4.50 AS Decimal(4, 2)), N'Uploaded PDF transcript. Data extraction will be processed later.', N'CPIS320, CPIS498, IS321, IS341')
SET IDENTITY_INSERT [dbo].[Transcript] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [Name], [email], [password]) VALUES (1, N'Dr. Amina Gamlo', N'ahgamlo@kau.edu.sa', N'12345')
INSERT [dbo].[User] ([userID], [Name], [email], [password]) VALUES (2, N'lama alshikh', N'lalshikh@stu.kau.edu.sa', N'12345')
INSERT [dbo].[User] ([userID], [Name], [email], [password]) VALUES (3, N'lina alrwaily', N'lina@kau.edu.sa', N'12345')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_Forms_AdvisorID]    Script Date: 05/09/47 10:24:05 م ******/
CREATE NONCLUSTERED INDEX [IX_Forms_AdvisorID] ON [dbo].[Forms]
(
	[advisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Forms_StudentID]    Script Date: 05/09/47 10:24:05 م ******/
CREATE NONCLUSTERED INDEX [IX_Forms_StudentID] ON [dbo].[Forms]
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Graduati__4D11D65DC07B0AB5]    Script Date: 05/09/47 10:24:05 م ******/
ALTER TABLE [dbo].[GraduationStatus] ADD UNIQUE NONCLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Matching__4D11D65D0EC0C3AD]    Script Date: 05/09/47 10:24:05 م ******/
ALTER TABLE [dbo].[MatchingStatus] ADD UNIQUE NONCLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notif_StudentID]    Script Date: 05/09/47 10:24:05 م ******/
CREATE NONCLUSTERED INDEX [IX_Notif_StudentID] ON [dbo].[Notification]
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_AdvisorID]    Script Date: 05/09/47 10:24:05 م ******/
CREATE NONCLUSTERED INDEX [IX_Student_AdvisorID] ON [dbo].[Student]
(
	[advisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Transcri__4D11D65D923B0AED]    Script Date: 05/09/47 10:24:05 م ******/
ALTER TABLE [dbo].[Transcript] ADD UNIQUE NONCLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E6164034B6D9D]    Script Date: 05/09/47 10:24:05 م ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AcademicCalendar] ADD  DEFAULT (sysdatetime()) FOR [uploadedAt]
GO
ALTER TABLE [dbo].[CommunityMessages] ADD  DEFAULT (sysdatetime()) FOR [messageDate]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT (sysutcdatetime()) FOR [formDate]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ('Pending') FOR [formStatus]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ((0)) FOR [autoFilled]
GO
ALTER TABLE [dbo].[GraduationStatus] ADD  DEFAULT ((0)) FOR [remainingHours]
GO
ALTER TABLE [dbo].[MeetingMessages] ADD  DEFAULT (sysdatetime()) FOR [messageDate]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (sysutcdatetime()) FOR [date]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((0)) FOR [completedHours]
GO
ALTER TABLE [dbo].[AcademicAdvisingConfirmationForm]  WITH CHECK ADD  CONSTRAINT [FK_AACF_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcademicAdvisingConfirmationForm] CHECK CONSTRAINT [FK_AACF_Forms]
GO
ALTER TABLE [dbo].[Advisor]  WITH CHECK ADD  CONSTRAINT [FK_Advisor_User] FOREIGN KEY([advisorID])
REFERENCES [dbo].[User] ([userID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advisor] CHECK CONSTRAINT [FK_Advisor_User]
GO
ALTER TABLE [dbo].[CommunityMessages]  WITH CHECK ADD  CONSTRAINT [FK_CommunityMessages_Community] FOREIGN KEY([communityID])
REFERENCES [dbo].[Community] ([communityID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommunityMessages] CHECK CONSTRAINT [FK_CommunityMessages_Community]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_Advisor] FOREIGN KEY([advisorID])
REFERENCES [dbo].[Advisor] ([advisorID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_Advisor]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_Student]
GO
ALTER TABLE [dbo].[GraduationProjectEligibilityForm]  WITH CHECK ADD  CONSTRAINT [FK_GPEF_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GraduationProjectEligibilityForm] CHECK CONSTRAINT [FK_GPEF_Forms]
GO
ALTER TABLE [dbo].[GraduationStatus]  WITH CHECK ADD  CONSTRAINT [FK_GradStatus_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GraduationStatus] CHECK CONSTRAINT [FK_GradStatus_Student]
GO
ALTER TABLE [dbo].[MatchingStatus]  WITH CHECK ADD  CONSTRAINT [FK_MatchStatus_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchingStatus] CHECK CONSTRAINT [FK_MatchStatus_Student]
GO
ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD  CONSTRAINT [FK_Meeting_Advisor] FOREIGN KEY([advisorID])
REFERENCES [dbo].[Advisor] ([advisorID])
GO
ALTER TABLE [dbo].[Meeting] CHECK CONSTRAINT [FK_Meeting_Advisor]
GO
ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD  CONSTRAINT [FK_Meeting_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meeting] CHECK CONSTRAINT [FK_Meeting_Student]
GO
ALTER TABLE [dbo].[MeetingForm]  WITH CHECK ADD  CONSTRAINT [FK_MeetingForm_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MeetingForm] CHECK CONSTRAINT [FK_MeetingForm_Forms]
GO
ALTER TABLE [dbo].[NextSemesterCourseSelectionForm]  WITH CHECK ADD  CONSTRAINT [FK_NSCSF_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NextSemesterCourseSelectionForm] CHECK CONSTRAINT [FK_NSCSF_Forms]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Advisor] FOREIGN KEY([advisorID])
REFERENCES [dbo].[Advisor] ([advisorID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notif_Advisor]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notif_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Advisor] FOREIGN KEY([advisorID])
REFERENCES [dbo].[Advisor] ([advisorID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Advisor]
GO
ALTER TABLE [dbo].[StudyPlanCourse]  WITH CHECK ADD  CONSTRAINT [FK_SPC_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StudyPlanCourse] CHECK CONSTRAINT [FK_SPC_Course]
GO
ALTER TABLE [dbo].[StudyPlanCourse]  WITH CHECK ADD  CONSTRAINT [FK_SPC_StudyPlan] FOREIGN KEY([planID])
REFERENCES [dbo].[StudyPlan] ([planID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudyPlanCourse] CHECK CONSTRAINT [FK_SPC_StudyPlan]
GO
ALTER TABLE [dbo].[StudyPlanMatchingForm]  WITH CHECK ADD  CONSTRAINT [FK_SPMF_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudyPlanMatchingForm] CHECK CONSTRAINT [FK_SPMF_Forms]
GO
ALTER TABLE [dbo].[Transcript]  WITH CHECK ADD  CONSTRAINT [FK_Transcript_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transcript] CHECK CONSTRAINT [FK_Transcript_Student]
GO
ALTER TABLE [dbo].[TranscriptCourse]  WITH CHECK ADD  CONSTRAINT [FK_TC_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TranscriptCourse] CHECK CONSTRAINT [FK_TC_Course]
GO
ALTER TABLE [dbo].[TranscriptCourse]  WITH CHECK ADD  CONSTRAINT [FK_TC_Transcript] FOREIGN KEY([transcriptID])
REFERENCES [dbo].[Transcript] ([transcriptID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TranscriptCourse] CHECK CONSTRAINT [FK_TC_Transcript]
GO
/****** Object:  StoredProcedure [dbo].[usp_SignUpStudent]    Script Date: 05/09/47 10:24:05 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_SignUpStudent]
    @FullName NVARCHAR(120),
    @Email NVARCHAR(150),
    @StudentID INT,
    @Password NVARCHAR(255),
    @Major NVARCHAR(120) = 'Information Systems',
    @Level NVARCHAR(50) = 'Level 1',
    @CohortYear INT = 2025,
    @AdvisorEmail NVARCHAR(150) = 'ahgamlo@kau.edu.sa'
AS
BEGIN
    SET NOCOUNT ON;

    -- Check email unique
    IF EXISTS (SELECT 1 FROM [User] WHERE email = @Email)
    BEGIN
        SELECT 'Email already exists' AS Result;
        RETURN;
    END

    -- Check studentID unique
    IF EXISTS (SELECT 1 FROM Student WHERE studentID = @StudentID)
    BEGIN
        SELECT 'Student ID already exists' AS Result;
        RETURN;
    END

    -- Get advisorID from advisor email (optional)
    DECLARE @AdvisorID INT = NULL;
    SELECT @AdvisorID = u.userID
    FROM [User] u
    WHERE u.email = @AdvisorEmail;

    -- Insert into User
    INSERT INTO [User] ([Name], email, [password])
    VALUES (@FullName, @Email, @Password);

    -- Insert into Student
    INSERT INTO Student (studentID, [Name], major, [level], completedHours, cohortYear, advisorID)
    VALUES (@StudentID, @FullName, @Major, @Level, 0, @CohortYear, @AdvisorID);

    SELECT 'Student created successfully' AS Result;
END
GO
USE [master]
GO
